*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar{
    background-color: #000;
    width: 25%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

.siderbar>.msg{
    height: 10%;
    display: flex;
    flex-direction: row;
}

.sidebar>.msg>h3{
    text-align: center;
    font-size: 1.1rem;
    padding: 5px 0;
    box-sizing: border-box;
}

.sidebar>.POI{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.sidebar>.POI>span:nth-of-type(odd){
    background-color: rgb(122, 122, 122);
}

.sidebar>.POI>span{
    display: inline-block;
    text-align:center;
    font-size: 1.2rem;
    padding: 5px 0;
}

.sidebar>.POI>span:hover{
    color: #000;
}

.map{
    width: 75%;
}

#marker{
    background-image: url('marker.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
}